<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de nuestros productos</title>
</head>

<body>
    <h1>Lista de productos</h1>



    <div>
        <input type="text" id="mensajeInput" placeholder="Producto a elegir">
        <button id="enviarMensaje">
            Enviar
        </button>
        <div id="mensajes">
            {{#each mensajes}}
            <p>{{this.mensaje}}</p>
            {{/each}}
        </div>
    </div>

</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const socket = io();
        const mensajeInput = document.getElementById('mensajeInput');
        const enviarMensaje = document.getElementById('enviarMensaje');
        const mensajesDiv = document.getElementById('mensajes');

        enviarMensaje.addEventListener('click', () => {
            const texto = mensajeInput.value;
            if (texto.trim() !== '') {
                socket.emit('message', texto);
                mensajeInput.value = '';
            }
        });
       
    });
</script>

</html>