<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Muestra de lista de productos en tiempo real</title>
</head>

<body>
  <h1>Lista de Productos en Tiempo Real</h1>
  <p>Mercaderia moderna del 2023</p>

   



</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>
</html>